<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title>Appointments | Home</title>
		<style>
			table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 75%;
			}

			td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
			}

			tr:nth-child(even) {
			background-color: #dddddd;
			}
		</style>
	</head>
	<body>
		<div class="container">
		<br><br>
		<header>
			<div style="float: right;">
				<a href="/logout">Logout</a>
			</div>
		</header>

		<h1>Welcome, {{request.session.user_name}} !</h1>
        <br>
        <br>
	<h2>Here are your appointments for today, {% now "F j\, Y" %}:</h2>
		<table>
			<tr>
				<td>Task</td>
				<td>Status</td>
                <td>Time</td>
                <td>Action</td>
			</tr>
			{%for task in curr_apts%}
			<tr>
				<td>{{task.task}}</td>
				<td>{{task.get_status_display}}</td>
                <td>{{task.time}}</td>
                {%if task.status != 2%}
				<td><a class="btn btn-small btn-primary" href="/appoint/edit/{{task.id}}/">Edit</a> <a class="btn btn-small btn-danger" href="/appoint/delete/{{task.id}}/">Delete</a></td>
				{%endif%}
            </tr>
            {% endfor %}
		</table>
        <h2>Your other appointments:</h2>
		<table>
			<tr>
				<td>Task</td>
				<td>Date</td>
				<td>Time</td>
			</tr>
			{%for task in later_appoints%}
			<tr>
				<td>{{task.task}}</td>
				<td>{{task.date}}</td>
                <td>{{task.time}}</td>
            </tr>
            {% endfor %}
		</table>
        <hr>
        <h3>Add Appointment:</h3>
		<form action="/appoint/add" method="post">
			{%csrf_token%}
			<p>Enter date for this task:</p>
			<input type="date" name="apt_date" placeholder="YYYY-mm-dd">
			<br><br>
			<p>Enter time for this task:</p>
			<input type="time" name="apt_time" placeholder="0:00-23:59">
			<br><br>
			<p>Enter description of this task:</p>
			<input type="text" name="task" placeholder="Description">
			<br><br>

            <input class="btn btn-primary" type="submit" value="Add">
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {%if message.tags == 'error'%}
                    <li style='color: red'>{{ message }}</li>
                {% elif message.tags == 'success'%}
                    <li style='color: green'>{{ message }}</li>
                {% endif %}                   
            {% endfor %}
        </ul>
		{% endif %}
	</div>
    </body>
</html>